# Collecting Data through web scraping

In [4]:
import pandas as pd
import json

C:\Users\Blessy Thomas\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
# code for web scraping the first table through python but its not used since we scraped it using Bight data which has a better API
#url = 'https://www.espncricinfo.com/records/tournament/team-match-results/icc-men-s-t20-world-cup-2022-23-14450'
#all_tables= pd.read_html(url)

In [5]:
with open('match_summary.json') as f:
    data=json.load(f)
df_match = pd.DataFrame(data[0]['matchSummary'])
df_match.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879
1,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
2,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
3,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
4,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872

In [6]:
df_match.shape #we want to treat 'scorecard' as primary key to connect with other tables

(42, 7)

In [7]:
df_match.rename({'scorecard':'match_id'}, axis=1, inplace=True)
df_match.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,England,Pakistan,England,5 wickets,Melbourne,"Nov 13, 2022",T20I # 1879
1,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
2,New Zealand,Pakistan,Pakistan,7 wickets,Sydney,"Nov 9, 2022",T20I # 1877
3,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
4,Bangladesh,Pakistan,Pakistan,5 wickets,Adelaide,"Nov 6, 2022",T20I # 1872

In [56]:
df_match.to_csv("cricket_analysis_match_summary.csv", index=False)

**Batting Summary**

In [14]:
with open('batting_summary.json') as f:
    data=json.load(f)
all_records =[] #since for each team1 vs team 2 there's a separate batting summary we want to collect all of that into a single table

for rec in data:
    all_records.extend(rec['battingSummary'])

df_batting= pd.DataFrame(all_records)

In [13]:
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,Pakistan Vs England,Pakistan,1,Mohammad Rizwanâ€,b Curran,15,14,0,1,107.14
1,Pakistan Vs England,Pakistan,2,Babar Azam(c),c & b Rashid,32,28,2,0,114.28
2,Pakistan Vs England,Pakistan,3,Mohammad Haris,c Stokes b Rashid,8,12,1,0,66.66
3,Pakistan Vs England,Pakistan,4,Shan Masood,c Livingstone b Curran,38,28,2,1,135.71
4,Pakistan Vs England,Pakistan,5,Iftikhar Ahmed,c â€ Buttler b Stokes,0,6,0,0,0.00
5,Pakistan Vs England,Pakistan,6,Shadab Khan,c Woakes b Jordan,20,14,2,0,142.85
6,Pakistan Vs England,Pakistan,7,Mohammad Nawaz,c Livingstone b Curran,5,7,0,0,71.42
7,Pakistan Vs England,Pakistan,8,Mohammad Wasim,c Livingstone b Jordan,4,8,0,0,50.00
8,Pakistan Vs England,Pakistan,9,Shaheen Shah Afridi,NaN,5,3,1,0,166.66
9,Pakistan Vs England,Pakistan,10,Haris Rauf,NaN,1,1,0,0,100.00
10,Pakistan Vs England,England,1,Jos Buttler(c)â€,c â€ Mohammad Rizwan b Haris Rauf,26,17,3,1,152.94

In [ ]:
# converting the ' dismissal' column into out/not out by looking at blank values

In [20]:
df_batting["out/not_out"] = df_batting.dismissal.apply(lambda x: "not_out" if pd.isna(x) else ("out" if len(x)>0 else "not_out"))

In [23]:
df_batting

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,out/not_out
0,Pakistan Vs England,Pakistan,1,Mohammad Rizwanâ€,b Curran,15,14,0,1,107.14,out
1,Pakistan Vs England,Pakistan,2,Babar Azam(c),c & b Rashid,32,28,2,0,114.28,out
2,Pakistan Vs England,Pakistan,3,Mohammad Haris,c Stokes b Rashid,8,12,1,0,66.66,out
3,Pakistan Vs England,Pakistan,4,Shan Masood,c Livingstone b Curran,38,28,2,1,135.71,out
4,Pakistan Vs England,Pakistan,5,Iftikhar Ahmed,c â€ Buttler b Stokes,0,6,0,0,0.00,out
...,...,...,...,...,...,...,...,...,...,...,...
694,U.A.E. Vs Namibia,Namibia,6,JJ Smit,run out (Meiyappan/Ahmed Raza),3,3,0,0,100.00,out
695,U.A.E. Vs Namibia,Namibia,7,David Wiese,c Sharafu b Muhammad Waseem,55,36,3,3,152.77,out
696,U.A.E. Vs Namibia,Namibia,8,Zane Greenâ€,b Zahoor Khan,2,3,0,0,66.66,out
697,U.A.E. Vs Namibia,Namibia,9,Ruben Trumpelmann,NaN,25,24,1,1,104.16,not_out
698,U.A.E. Vs Namibia,Namibia,10,Bernard Scholtz,NaN,1,1,0,0,100.00,not_out

In [25]:
df_batting.drop(columns=["dismissal"], inplace=True)

KeyError: "['dismissal'] not found in axis"

In [36]:
df_batting.head(11)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,Pakistan Vs England,Pakistan,1,Mohammad Rizwanâ€,15,14,0,1,107.14,out
1,Pakistan Vs England,Pakistan,2,Babar Azam(c),32,28,2,0,114.28,out
2,Pakistan Vs England,Pakistan,3,Mohammad Haris,8,12,1,0,66.66,out
3,Pakistan Vs England,Pakistan,4,Shan Masood,38,28,2,1,135.71,out
4,Pakistan Vs England,Pakistan,5,Iftikhar Ahmed,0,6,0,0,0.00,out
5,Pakistan Vs England,Pakistan,6,Shadab Khan,20,14,2,0,142.85,out
6,Pakistan Vs England,Pakistan,7,Mohammad Nawaz,5,7,0,0,71.42,out
7,Pakistan Vs England,Pakistan,8,Mohammad Wasim,4,8,0,0,50.00,out
8,Pakistan Vs England,Pakistan,9,Shaheen Shah Afridi,5,3,1,0,166.66,not_out
9,Pakistan Vs England,Pakistan,10,Haris Rauf,1,1,0,0,100.00,not_out
10,Pakistan Vs England,England,1,Jos Buttler(c)â€,26,17,3,1,152.94,out

In [37]:
#code to find what all extra characters are there in the batsman column
import string
unique_chars = set(''.join(df_batting['batsmanName']))
non_alpha_chars = unique_chars - set(string.ascii_letters)
print(non_alpha_chars)

{' ', '(', ')', '€', '\xa0', "'", 'â', '-'}

In [39]:
df_batting["batsmanName"] = df_batting['batsmanName'].apply(lambda x: x.replace("\xa0",""))
df_batting["batsmanName"] = df_batting['batsmanName'].apply(lambda x: x.replace("€",""))
df_batting["batsmanName"] = df_batting['batsmanName'].apply(lambda x: x.replace("â",""))

In [ ]:
'''In order the link the table 'match_summary' and 'batting_summary' we need a connecting column, the only common thing they
have is the team names, however the team names need to be in pairs and any order can exist so each pair has two versions.
For this we create a dictionary with all the possible combinations of teams as KEYS and match_id as VALUES to distinguish.'''

In [52]:
match_ids_dict= {}

for index, row in df_match.iterrows():
    key1= row["team1"] + " Vs " + row["team2"]
    key2= row["team2"] + " Vs " + row["team1"]
    
    match_ids_dict[key1]=row["match_id"]
    match_ids_dict[key2]=row["match_id"]

In [ ]:
#Creating a new column in batting_summary dataframe of match_id to get a primary key

In [54]:
df_batting["match_id"]=df_batting["match"].map(match_ids_dict)
df_batting

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,Pakistan Vs England,Pakistan,1,Mohammad Rizwan,15,14,0,1,107.14,out,T20I # 1879
1,Pakistan Vs England,Pakistan,2,Babar Azam(c),32,28,2,0,114.28,out,T20I # 1879
2,Pakistan Vs England,Pakistan,3,Mohammad Haris,8,12,1,0,66.66,out,T20I # 1879
3,Pakistan Vs England,Pakistan,4,Shan Masood,38,28,2,1,135.71,out,T20I # 1879
4,Pakistan Vs England,Pakistan,5,Iftikhar Ahmed,0,6,0,0,0.00,out,T20I # 1879
...,...,...,...,...,...,...,...,...,...,...,...
694,U.A.E. Vs Namibia,Namibia,6,JJ Smit,3,3,0,0,100.00,out,T20I # 1836
695,U.A.E. Vs Namibia,Namibia,7,David Wiese,55,36,3,3,152.77,out,T20I # 1836
696,U.A.E. Vs Namibia,Namibia,8,Zane Green,2,3,0,0,66.66,out,T20I # 1836
697,U.A.E. Vs Namibia,Namibia,9,Ruben Trumpelmann,25,24,1,1,104.16,not_out,T20I # 1836
698,U.A.E. Vs Namibia,Namibia,10,Bernard Scholtz,1,1,0,0,100.00,not_out,T20I # 1836

In [55]:
df_batting.to_csv("cricket_analysis_batting_summary.csv", index=False)

 # Bowling Summary

In [61]:
with open("bowling_summary.json") as f:
    data = json.load(f)
    all_records=[]
    for rec in data:
        all_records.extend(rec["bowlingSummary"])

In [63]:
df_bowling=pd.DataFrame(all_records)
print(df_bowling.shape)
df_bowling.head(30)

(500, 13)

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls
0,Sri Lanka Vs Netherlands,Netherlands,Fred Klaassen,4,0,34,1,8.50,9,1,2,0,0
1,Sri Lanka Vs Netherlands,Netherlands,Tim Pringle,3,0,22,0,7.33,8,0,2,0,0
2,Sri Lanka Vs Netherlands,Netherlands,Roelof van der Merwe,3,0,16,0,5.33,10,2,0,0,0
3,Sri Lanka Vs Netherlands,Netherlands,Paul van Meekeren,4,0,25,2,6.25,11,3,0,1,0
4,Sri Lanka Vs Netherlands,Netherlands,Bas de Leede,3,0,31,2,10.33,5,2,2,0,0
5,Sri Lanka Vs Netherlands,Netherlands,Timm van der Gugten,3,0,31,1,10.33,3,2,1,0,0
6,Sri Lanka Vs Netherlands,Sri Lanka,Dhananjaya de Silva,1,0,5,0,5.00,1,0,0,0,0
7,Sri Lanka Vs Netherlands,Sri Lanka,Lahiru Kumara,4,0,28,1,7.00,14,2,1,1,0
8,Sri Lanka Vs Netherlands,Sri Lanka,Binura Fernando,4,0,33,1,8.25,11,4,1,1,0
9,Sri Lanka Vs Netherlands,Sri Lanka,Maheesh Theekshana,4,0,32,2,8.00,12,1,2,2,1
10,Sri Lanka Vs Netherlands,Sri Lanka,Wanindu Hasaranga,4,0,28,3,7.00,11,3,0,0,0
11,Sri Lanka Vs Netherlands,Sri Lanka,Chamika Karunaratne,2,0,11,0,5.50,6,1,0,1,0
12,Sri Lanka Vs Netherlands,Sri Lanka,Dasun Shanaka,1,0,7,0,7.00,3,1,0,0,0
13,Ireland Vs Sri Lanka,Sri Lanka,Binura Fernando,4,0,27,1,6.75,10,3,0,1,0
14,Ireland Vs Sri Lanka,Sri Lanka,Lahiru Kumara,2,0,12,1,6.00,6,2,0,0,0
15,Ireland Vs Sri Lanka,Sri Lanka,Maheesh Theekshana,4,0,19,2,4.75,8,1,0,0,0
16,Ireland Vs Sri Lanka,Sri Lanka,Chamika Karunaratne,4,0,29,1,7.25,7,2,1,0,0
17,Ireland Vs Sri Lanka,Sri Lanka,Wanindu Hasaranga,4,0,25,2,6.25,6,0,1,0,0
18,Ireland Vs Sri Lanka,Sri Lanka,Dhananjaya de Silva,2,0,13,1,6.50,3,1,0,0,0
19,Ireland Vs Sri Lanka,Ireland,Josh Little,4,0,45,0,11.25,5,4,1,1,0
20,Ireland Vs Sri Lanka,Ireland,Mark Adair,2,0,16,0,8.00,2,1,0,0,0
21,Ireland Vs Sri Lanka,Ireland,Barry McCarthy,2,0,16,0,8.00,4,0,1,0,0
22,Ireland Vs Sri Lanka,Ireland,Gareth Delany,4,0,28,1,7.00,8,3,0,2,0
23,Ireland Vs Sri Lanka,Ireland,Curtis Campher,1,0,8,0,8.00,2,1,0,0,0
24,Ireland Vs Sri Lanka,Ireland,Simi Singh,2,0,20,0,10.00,3,0,2,0,0
25,Ireland Vs England,England,Ben Stokes,2.2,0,8,1,3.42,7,0,0,0,0
26,Ireland Vs England,England,Chris Woakes,3,0,41,0,13.66,4,6,1,2,0
27,Ireland Vs England,England,Mark Wood,4,0,34,3,8.50,13,4,1,2,0
28,Ireland Vs England,England,Sam Curran,3,0,31,2,10.33,7,1,2,0,0
29,Ireland Vs England,England,Adil Rashid,4,0,24,0,6.00,6,1,0,0,0

In [65]:
df_bowling["match_id"]=df_bowling["match"].map(match_ids_dict)
df_bowling.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,Sri Lanka Vs Netherlands,Netherlands,Fred Klaassen,4,0,34,1,8.50,9,1,2,0,0,T20I # 1835
1,Sri Lanka Vs Netherlands,Netherlands,Tim Pringle,3,0,22,0,7.33,8,0,2,0,0,T20I # 1835
2,Sri Lanka Vs Netherlands,Netherlands,Roelof van der Merwe,3,0,16,0,5.33,10,2,0,0,0,T20I # 1835
3,Sri Lanka Vs Netherlands,Netherlands,Paul van Meekeren,4,0,25,2,6.25,11,3,0,1,0,T20I # 1835
4,Sri Lanka Vs Netherlands,Netherlands,Bas de Leede,3,0,31,2,10.33,5,2,2,0,0,T20I # 1835

In [66]:
df_bowling.to_csv("cricket_analysis_bowling_summary.csv", index=False)

# Player's Information

In [72]:
with open("player_info.json") as f:
    data= json.load(f)

In [73]:
df_players=pd.DataFrame(data)

print(df_players.shape)
df_players.head(10)

(219, 7)

,name,team,battingStyle,playingRole,input,bowlingStyle,description
0,Finn Allen,New Zealand,Right hand Bat,Top order Batter,{},NaN,NaN
1,Devon Conwayâ€,New Zealand,Left hand Bat,Wicketkeeper Batter,{},Right arm Medium,NaN
2,Kane Williamson(c),New Zealand,Right hand Bat,Top order Batter,{},Right arm Offbreak,NaN
3,Chris Greaves,Scotland,Right hand Bat,Bowler,{},Legbreak,NaN
4,Glenn Phillips,New Zealand,Right hand Bat,Allrounder,{},Right arm Offbreak,"Glenn Phillips is a compact, muscular hitter, ..."
5,Paul van Meekeren,Netherlands,Right hand Bat,Bowler,{},Right arm Fast medium,Paul van Meekeren drew attention to himself du...
6,Rovman Powell,West Indies,Right hand Bat,Middle order Batter,{},Right arm Medium fast,A middle-order batter who bowls occasional med...
7,Stephan Baard,Namibia,Right hand Bat,Batter,{},Right arm Medium fast,NaN
8,Mark Watt,Scotland,Left hand Bat,Bowler,{},Slow Left arm Orthodox,Scotland left-arm spinner Mark Watt made a qui...
9,Mustafizur Rahman,Bangladesh,Left hand Bat,Bowler,{},Left arm Fast medium,Mustafizur Rahman is a left-arm pace bowler wh...

In [75]:
df_players.drop(columns="input",inplace=True)

KeyError: "['input'] not found in axis"

In [76]:
df_players

,name,team,battingStyle,playingRole,bowlingStyle,description
0,Finn Allen,New Zealand,Right hand Bat,Top order Batter,NaN,NaN
1,Devon Conwayâ€,New Zealand,Left hand Bat,Wicketkeeper Batter,Right arm Medium,NaN
2,Kane Williamson(c),New Zealand,Right hand Bat,Top order Batter,Right arm Offbreak,NaN
3,Chris Greaves,Scotland,Right hand Bat,Bowler,Legbreak,NaN
4,Glenn Phillips,New Zealand,Right hand Bat,Allrounder,Right arm Offbreak,"Glenn Phillips is a compact, muscular hitter, ..."
...,...,...,...,...,...,...
214,Dushmantha Chameera,Sri Lanka,Right hand Bat,Bowler,Right arm Fast,"Tall, slim and slippery, Dushmantha Chameera a..."
215,Josh Hazlewood,Australia,Left hand Bat,Bowler,Right arm Fast medium,A tall and accurate fast bowler who is unrelen...
216,Tim David,Australia,Right hand Bat,Middle order Batter,Right arm Offbreak,NaN
217,Mitchell Marsh,Australia,Right hand Bat,Allrounder,Right arm Medium,NaN
218,Matthew Wade(c)â€,Australia,Left hand Bat,Wicketkeeper Batter,Right arm Medium,It has been a career of reinvention for Matthe...

In [78]:
#Cleaning wierd characters
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('†', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\xa0', ''))
df_players

,name,team,battingStyle,playingRole,bowlingStyle,description
0,Finn Allen,New Zealand,Right hand Bat,Top order Batter,NaN,NaN
1,Devon Conway,New Zealand,Left hand Bat,Wicketkeeper Batter,Right arm Medium,NaN
2,Kane Williamson(c),New Zealand,Right hand Bat,Top order Batter,Right arm Offbreak,NaN
3,Chris Greaves,Scotland,Right hand Bat,Bowler,Legbreak,NaN
4,Glenn Phillips,New Zealand,Right hand Bat,Allrounder,Right arm Offbreak,"Glenn Phillips is a compact, muscular hitter, ..."
...,...,...,...,...,...,...
214,Dushmantha Chameera,Sri Lanka,Right hand Bat,Bowler,Right arm Fast,"Tall, slim and slippery, Dushmantha Chameera a..."
215,Josh Hazlewood,Australia,Left hand Bat,Bowler,Right arm Fast medium,A tall and accurate fast bowler who is unrelen...
216,Tim David,Australia,Right hand Bat,Middle order Batter,Right arm Offbreak,NaN
217,Mitchell Marsh,Australia,Right hand Bat,Allrounder,Right arm Medium,NaN
218,Matthew Wade(c),Australia,Left hand Bat,Wicketkeeper Batter,Right arm Medium,It has been a career of reinvention for Matthe...

In [79]:
df_players[df_players['team'] == 'India']

,name,team,battingStyle,playingRole,bowlingStyle,description
51,Arshdeep Singh,India,Left hand Bat,Bowler,Left arm Medium fast,NaN
60,Suryakumar Yadav,India,Right hand Bat,Batter,"Right arm Medium, Right arm Offbreak",NaN
101,Axar Patel,India,Left hand Bat,Bowling Allrounder,Slow Left arm Orthodox,NaN
103,Deepak Hooda,India,Right hand Bat,Allrounder,Right arm Offbreak,"An allrounder who can bat in any position, Dee..."
117,Hardik Pandya,India,Right hand Bat,Allrounder,Right arm Medium fast,NaN
119,Mohammed Shami,India,Right hand Bat,Bowler,Right arm Fast,Mohammed Shami was India's leading fast bowler...
129,Rohit Sharma(c),India,Right hand Bat,Top order Batter,Right arm Offbreak,NaN
133,KL Rahul,India,Right hand Bat,Wicketkeeper Batter,NaN,NaN
149,Rishabh Pant,India,Left hand Bat,Wicketkeeper Batter,NaN,NaN
152,Dinesh Karthik,India,Right hand Bat,Wicketkeeper Batter,Right arm Offbreak,Not many would forget the sight of Dinesh Kart...
160,Ravichandran Ashwin,India,Right hand Bat,Bowling Allrounder,Right arm Offbreak,NaN
171,Bhuvneshwar Kumar,India,Right hand Bat,Bowler,Right arm Medium,"At the time of his India debut in 2012, Bhuvne..."
173,Virat Kohli,India,Right hand Bat,Top order Batter,Right arm Medium,NaN

In [80]:
df_players.to_csv("cricket_analysis_players_no_image.csv", index=False)